#logo{
  height: 50%;
  width: 50%;
  padding:px;
  align-items: center;
  float: left;
  
}
nav{
    color: #bbb;
    background-color: rgb(51, 118, 109);
    padding: 10px;
  color: #ffffff;
  margin: 0;
  overflow:hidden;

}
.wrapper > nav {
    font-family: 'lobster' , cursive;
}
li {
  display: inline;
  text-decoration: none;
  color: #ffffff;
  padding: 20px;
  margin: 10px;
}

ul {
  text-decoration: none;
  text-align: center;
}

ul > li > a {
  color: white;
  text-decoration: none;
}
text{
    float: right;
}

